# JIRA Creds
JIRA_URL=https://jira<something>.adaptavist.cloud
JIRA_USER=<user here>
JIRA_SECRET=<token here>
# for BASIC authentication set to 1, set to zero to authenticate using a Bearer token
JIRA_BASIC_AUTH=0

# Stellar DP Creds
STELLAR_DP=<something>.stellarcyber.cloud
STELLAR_USER=userkey
STELLAR_API_KEY=<api key>
# set to 1 to use the newer user level API keys with RBAC
# set to zero for the legacy API key associated with a super_user / root
STELLAR_RBAC_USER=1

# stellar webhook receiver for logs (XDR Webhook Connector)
# WEBHOOK_INGEST_URL=
# WEBHOOK_INGEST_KEY=
